<div class="columns is-mobile mt-2">
  <div class="column is-half is-offset-one-quarter">
    <div class="box is-half">
      <h1 class="is-size-3">Password Generator</h1>

      <div class="field">
        <label class="label">Enter Length:</label>
        <div class="control">
          <input
            type="text"
            class="input"
            (input)="length = onChangeLength($event)"
          />
        </div>
      </div>
      <div class="field">
        <label class="checkbox label">
          <input
            type="checkbox"
            class="checkbox"
            name=""
            (change)="onChangeUseLetters()"
          />
          Use Letters</label
        >
      </div>
      <div class="field">
        <label class="checkbox label"
          ><input
            type="checkbox"
            class="checkbox"
            name=""
            (change)="onChangeUseNumbers()"
          />
          Use Numbers</label
        >
      </div>
      <div class="field">
        <label class="checkbox label">
          <input
            type="checkbox"
            class="checkbox"
            name=""
            (change)="onChangeUseSymbols()"
          />
          Use Symbols</label
        >
      </div>
      <button
        (click)="onButtonClick()"
        class="button is-fullwidth is-link is-light"
        [disabled]="toggleButton()"
      >
        Generate!
      </button>

      <div class="box" *ngIf="password">
        <input type="text" class="input my-2" [value]="password" />
      </div>
    </div>
  </div>
</div>
